.a{
  color: red;
}

.header{
  color: blue;
}

.footer{
  color: green;
}

.footer-right{
  color: violet;
}

.footer-left{
  color: yellow;
}
<<<<<<< HEAD
- sarang

Pratiksha.

Aditya Hatwar

sarang
